<!DOCTYPE html>
<html lang="{{@site.locale}}" data-theme="light">

    <head>
        {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{meta_title}}</title>

        {{!-- Script that redirects logged in members to account page --}}
        {{#if @member}}
            <script>window.location = '{{@site.url}}/account/';</script>
        {{/if}}

        {{!-- Dark Mode Script --}}
        <script>
            const rootElem = document.querySelector("html[data-theme]");

            const detectSystemTheme = () => {
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    rootElem.setAttribute("data-theme", "dark");
                } else {
                    rootElem.setAttribute("data-theme", "light");
                }
            };

            const initTheme = () => {
                const localStoragePref = localStorage.getItem("data-theme");

                if (localStoragePref) {
                    rootElem.setAttribute("data-theme", localStoragePref);
                } else {
                    detectSystemTheme();
                }
            };

            initTheme();

            window
                .matchMedia("(prefers-color-scheme: dark)")
                .addEventListener("change", () => {
                    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                        rootElem.setAttribute("data-theme", "dark");
                    } else {
                        rootElem.setAttribute("data-theme", "light");
                    }
                });
        </script>

        {{!-- Loading Fonts, Fonts Variables Declarations --}}
        {{>font-pairings}}

        {{!-- Main Styles --}}
        <link rel="stylesheet" href="{{asset "built/main.css"}}">

        {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
        it should always be the last tag before the closing head tag --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}} form-page-template">
        <main class="form-page">
            <form class="form" data-members-form="signup" data-members-autoredirect="false" novalidate>
                {{>site-logo}}
                <h1 class="form__title">{{t "Create Account"}}</h1>
                <p class="form__subtitle">{{t "Create an account for full access."}}</p>
                {{#if @site.portal_name}}
                <div class="form__input-wrapper">
                    <label class="form__input-label" for="name-input">{{t "Your Name"}}</label>
                    <input class="form__input" data-members-name type="text" name="name-input" id="name-input" placeholder="Charles Barret" aria-label="{{t "Your Name"}}" autofocus required>
                </div>   
                {{/if}}
                <div class="form__input-wrapper">
                    <label class="form__input-label" for="email-input">{{t "Your Email Address"}}</label>
                    <input class="form__input" data-members-email type="email" name="email-input" id="email-input" placeholder="charles@hello.com" aria-label="{{t "Your Email Address"}}" autofocus required>
                </div>
                {{>button btnType = "submit" btnText = "Sign Up" ariaLabel = "Sign In" classNames = " form-page-btn submit-btn--form-btn"}}
                {{#if @site.portal_signup_terms_html}}
                {{^if @site.portal_signup_checkbox_required}}
                <div class="form__signup-terms">
                    <div class="form__signup-terms-content">{{{@site.portal_signup_terms_html}}}</div>
                </div>
                {{/if}}
                {{/if}}
                <div class="form__question">
                    {{t "Already have an account?"}}
                    <a href="{{@site.url}}/signin" aria-label="{{t "Sign In"}}" class="form__question-btn">
                        {{t "Sign In"}}
                        {{>icons/chevron-right-icon}}
                    </a>
                </div>
                <p class="subscribe-banner-form__error" data-members-error></p>
                <div class="subscribe-banner-form-success">
                    <div class="subscribe-banner-form-success__wrapper">
                        {{>icons/subscribe-success-icon}}
                        <p class="subscribe-banner-form-success__title">
                            {{t "Success! Now Check Your Email"}}
                        </p>
                    </div>
                    <p class="subscribe-banner-form-success__text">
                        {{t "To complete Subscribe, click the confirmation link in your inbox. If
                        it doesn’t arrive within 3 minutes, check your spam folder."}}
                    </p>
                    {{>button btnType = "link" btnText = "Ok, Thanks" ariaLabel = "Home Page Link" linkURL = "" classNames="submit-btn--success submit-btn--form-btn"}}
                </div>
            </form>
        </main>

        {{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
        {{ghost_foot}}
    </body>

</html>