<!DOCTYPE html>
<html lang="{{@site.locale}}" data-theme="light">
    <head>
        {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{meta_title}}</title>

        {{!-- Dark Mode Script --}}
        <script>
            const rootElem = document.querySelector("html[data-theme]");

            const detectSystemTheme = () => {
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    rootElem.setAttribute("data-theme", "dark");
                } else {
                    rootElem.setAttribute("data-theme", "light");
                }
            };

            const initTheme = () => {
                const localStoragePref = localStorage.getItem("data-theme");

                if (localStoragePref) {
                    rootElem.setAttribute("data-theme", localStoragePref);
                } else {
                    detectSystemTheme();
                }
            };

            initTheme();

            window
                .matchMedia("(prefers-color-scheme: dark)")
                .addEventListener("change", () => {
                    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                        rootElem.setAttribute("data-theme", "dark");
                    } else {
                        rootElem.setAttribute("data-theme", "light");
                    }
                });
        </script>

        {{!-- Loading Fonts, Fonts Variables Declarations --}}
        {{>font-pairings}}

        {{!-- Main Styles --}}
        <link rel="stylesheet" href="{{asset "built/main.css"}}">

        {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
        it should always be the last tag before the closing head tag --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">
        <main class="error-404-page">
            <div class="error-404">
                {{>site-logo}}
                <h1 class="error-404__title">{{t "Page Not Found"}}</h1>
                <p class="error-404__desc">
                    {{t "Uh oh! The page you are looking for doesn't exist or has been moved. Try retracing your steps or going back home."}}
                </p>
               {{>button btnType = "link" btnText = "Back to Home Page" ariaLabel = "Home Page Link" linkURL = ""}}
            </div>
        </main>

        {{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
        {{ghost_foot}}
    </body>

</html>