{{!-- Site Footer --}}
<div class="footer">
    <div class="wrapper footer-wrapper">
        <div class="footer-main">
            {{#match @custom.header_type "=" "Header with author"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Header with author and featured posts"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Header with centered author"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Header with centered author and featured posts"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Header with author and centered nav"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Header with author and centered nav and featured posts"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Big header with author"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Burger header with author"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Burger header with author and featured posts"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Burger header with centered author"}}
                {{>site-author insideFooter = "true"}}
            {{else match @custom.header_type "=" "Burger header with centered author and featured posts"}}
                {{>site-author insideFooter = "true"}}
            {{else}}
                {{>site-logo}}
            {{/match}}
            <p class="footer-main__desc">
                {{@site.description}}
            </p>
        </div>
        <div class="footer-nav">
            {{navigation position = 'footer'}}
        </div>
        <div class="footer-socials">
            {{>socials}}
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper footer-bottom-wrapper">
            <div class="footer-secondary-nav">
                {{navigation type="secondary"}}
            </div>
            <p class="footer-copyright">
                {{t "Copyright"}} © 2024 {{@site.title}}. {{t "Published with"}} <a class="footer-copyright__link" href="https://ghost.org" target="_blank"
                rel="noopener" aria-label="{{t "Ghost CMS official website link"}}">Ghost</a> {{t "and"}} <a class="footer-copyright__link" href="{{@site.url}}" aria-label="{{@site.title}} {{t "Website link"}}">{{@site.title}}</a>.
            </p>
        </div>
    </div>
</div>
