<div class="share-block">
    <a class="share-btn"
        href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener"
        aria-label="{{t "Share on facebook"}}">
        {{> "icons/facebook-icon"}}
    </a>
    <a class="share-btn"
        href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank"
        rel="noopener" aria-label="{{t "Share on twitter"}}">
        {{> "icons/twitter-icon"}}
    </a>
    <a class="share-btn"
        href="https://reddit.com/submit?url={{url absolute='true'}}&amp;media=&amp;description={{encode title}}"
        target="_blank" rel="noopener" data-pin-do="none" aria-label="{{t "Share on reddit"}}">
        {{> "icons/reddit-icon"}}
    </a>
    <button class="share-btn copyToClipboardBtn" aria-label="{{t "Copy to clipboard button"}}">
        {{> "icons/copy-link-icon"}}
    </button>
</div>