{{!-- Site Auuthor --}}

{{!-- Props:  --}}
{{!-- 1. insideFooter - for checking if it is inside footer --}}

{{#get "authors" limit="1"}}
{{#if authors}}
{{#foreach authors}}
<div class="site-author{{#match ../../insideFooter "=" "true"}} insideFooter{{/match}}">
    {{#if profile_image}}
    <a class="site-author__img-link" href="{{@site.url}}" aria-label="{{t "Link to page author {authorName}" authorName=name}}">
        <picture>
            <source srcset="{{img_url profile_image size="150" format="webp"}} 150w, {{img_url profile_image size="300" format="webp"}} 300w" sizes="(max-width: 450px) 36px, 64px"  type="image/webp">
            <img class="site-author__img" srcset="{{img_url profile_image size="150"}} 150w, {{img_url profile_image size="300"}} 300w" sizes="(max-width: 450px) 36px, 64px" src="{{img_url profile_image size="300"}}" alt="{{name}} {{t "Profile image"}}"/>
        </picture>
    </a>
    {{/if}}
    <div class="site-author__name-wrapper">
        <a class="site-author__name" href="{{@site.url}}" aria-label="{{t "Link to page author {authorName}" authorName=name}}">
            {{name}}
        </a>
    </div>
</div>
{{/foreach}}
{{/if}}
{{/get}}