{{#if @site.members_enabled}}
{{#unless @member}}
    <div class="subscribe-banner-with-img">
        <span class="subscribe-banner-with-img__span">
            {{t "Membership"}}
        </span>
        <h2 class="subscribe-banner__title">
            {{t "Check Out Membership Options"}}
        </h2>
        <p class="subscribe-banner-with-img__text">
            {{t "Discover the perfect plan for you and unlock exclusive benefits today!"}}
        </p>
        <img class="subscribe-banner-with-img__img" src="{{asset 'images/banner-img.png'}}" alt="banner image">
        <a class="subscribe-banner-with-img__btn" href="{{#if @site.portal_button}}{{#if @member}}#/portal/account/plans{{else}}#/portal/signup{{/if}}{{else}}/membership{{/if}}" aria-label="{{t "Subscribe btn"}}">
            <span class="subscribe-banner-with-img__btn-text-wrapper">
                <span class="subscribe-banner-with-img__btn-text">
                    {{t "Join Community"}}
                    {{>icons/arrow-right-icon}}
                </span>
                <span class="subscribe-banner-with-img__btn-text">
                    {{t "Join Community"}}
                    {{>icons/arrow-right-icon}}
                </span>
            </span>
        </a>
    </div>
{{/unless}}
{{/if}}  