<section class="section-grid-four-column{{class}}">
    <div class="wrapper">
        {{#match tag "=" 'show-latest-posts'}}
            <h2 class="layout-title">{{t "Latest Posts"}}</h2>
            <div class="layout-grid layout-grid--4-column latest-section-posts">
                {{#foreach posts}}
                    {{>post-cards/post-card postType="Grid 4 column" showExcerpt="true" className=" latest-post" lazyLoading=../lazyLoading}}
                {{/foreach}}
            </div>
            {{>button btnType="loadMore" classNames="load-more-btn--margin-top"}}
        {{else match tag "=" 'show-featured-posts' }}
            <h2 class="layout-title">{{t "Featured Posts"}}</h2>
                <div class="layout-grid layout-grid--4-column">
                    {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="featured:true"}}
                        {{#foreach posts}}
                            {{>post-cards/post-card postType="Grid 4 column" showExcerpt="true" lazyLoading=../../lazyLoading}}
                        {{/foreach}}
                    {{/get}}
                </div>
        {{else}}
            <h2 class="layout-title">
                <a class="layout-title__link" href="/tag/{{tag}}" arial-label="{{t "Link to page tag {tagName}" tagName=tag}}">
                    {{#get "tags" filter="slug:{{tag}}"}}
                        {{#foreach tags}}
                        {{name}}
                        {{/foreach}}
                    {{/get}}
                </a>
            </h2>
                <div class="layout-grid layout-grid--4-column">
                    {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                        {{#foreach posts}}
                            {{>post-cards/post-card postType="Grid 4 column" showExcerpt="true" lazyLoading=../../lazyLoading}}
                        {{/foreach}}
                    {{/get}}
                </div>
        {{/match}}  
    </div>
</section>