<section class="fs-section-with-defined-tier section-{{sectionIndex}}">
    {{#if tag}}
        {{#get "posts" include="tags,authors" filter="slug:{{tag}}" order="published_at desc"}}
            {{#foreach posts}}
                {{#if feature_image}}
                    <picture>
                        <source 
                        srcset="
                            {{img_url feature_image size="3600" format="webp" }} 3600w, 
                            {{img_url feature_image size="2800" format="webp" }} 2800w, 
                            {{img_url feature_image size="2400" format="webp" }} 2400w, 
                            {{img_url feature_image size="2000" format="webp" }} 2000w, 
                            {{img_url feature_image size="1600" format="webp" }} 1600w"
                            sizes="100vw"
                            type="image/webp">
                            <img 
                            srcset="
                            {{img_url feature_image size="3600"}} 3600w, 
                            {{img_url feature_image size="2800"}} 2800w, 
                            {{img_url feature_image size="2400"}} 2400w,
                            {{img_url feature_image size="2000"}} 2000w, 
                            {{img_url feature_image size="1600"}} 1600w"
                            sizes="100vw"
                            src="{{img_url feature_image size="3600"}}" class="fs-section-post-image"/>
                    </picture>
                {{else}}
                    {{#if @site.logo}}
                        {{#if @custom.dark_mode_logo}}
                        <img src="{{img_url @custom.dark_mode_logo}}" alt="{{@site.title}} {{t "logo"}}" class="post-card-no-image__dark-logo" {{#match lazyLoading "=" "true"}}loading="lazy"{{/match}}/>
                        {{/if}}
                        <img src="{{img_url @site.logo}}" alt="{{@site.title}} {{t "logo"}}" class="post-card-no-image__logo" {{#match lazyLoading "=" "true"}}loading="lazy"{{/match}}/>
                        {{else}}
                        <h3 class="post-card-no-image__title">{{@site.title}}</h3>
                    {{/if}}
                {{/if}}
            {{/foreach}}
        {{/get}}
    {{else}}
        {{#get "posts" limit = 1 include="tags,authors" order="published_at desc" filter="featured:true"}}
            {{#foreach posts}}
                {{#if feature_image}}
                   <picture>
                        <source 
                        srcset="
                            {{img_url feature_image size="3600" format="webp" }} 3600w, 
                            {{img_url feature_image size="2800" format="webp" }} 2800w, 
                            {{img_url feature_image size="2400" format="webp" }} 2400w, 
                            {{img_url feature_image size="2000" format="webp" }} 2000w, 
                            {{img_url feature_image size="1600" format="webp" }} 1600w"
                            sizes="100vw"
                            type="image/webp">
                            <img 
                            srcset="
                            {{img_url feature_image size="3600"}} 3600w, 
                            {{img_url feature_image size="2800"}} 2800w, 
                            {{img_url feature_image size="2400"}} 2400w,
                            {{img_url feature_image size="2000"}} 2000w, 
                            {{img_url feature_image size="1600"}} 1600w"
                            sizes="100vw"
                            src="{{img_url feature_image size="3600"}}" class="fs-section-post-image"/>
                    </picture>
                {{else}}
                   {{#if @site.logo}}
                        {{#if @custom.dark_mode_logo}}
                        <img src="{{img_url @custom.dark_mode_logo}}" alt="{{@site.title}} {{t "logo"}}" class="post-card-no-image__dark-logo" {{#match lazyLoading "=" "true"}}loading="lazy"{{/match}}/>
                        {{/if}}
                        <img src="{{img_url @site.logo}}" alt="{{@site.title}} {{t "logo"}}" class="post-card-no-image__logo" {{#match lazyLoading "=" "true"}}loading="lazy"{{/match}}/>
                        {{else}}
                        <h3 class="post-card-no-image__title">{{@site.title}}</h3>
                    {{/if}}
                {{/if}}
            {{/foreach}}
        {{/get}}
    {{/if}}

    <div class="fs-section-with-defined-tier__content wrapper">
        {{#if tag}}
            {{#get "posts" limit = 1 include="tags,authors" filter="slug:{{tag}}" order="published_at desc"}}
                {{#if posts.length}}
                    {{#foreach posts}}
                        {{>post-cards/fs-post-card}}
                    {{/foreach}}
                {{else}}
                    {{#get "posts" limit = 1 include="tags,authors" order="published_at desc" filter="featured:true"}}
                        {{#if posts.length}}
                            {{#foreach posts}}
                                {{>post-cards/fs-post-card}}
                            {{/foreach}}
                        {{else}}
                            {{#get "posts" limit = 1 include="tags,authors" order="published_at desc"}}
                                {{#foreach posts}}
                                    {{>post-cards/fs-post-card}}
                                {{/foreach}}
                            {{/get}}
                        {{/if}}
                    {{/get}}
                {{/if}}
            {{/get}}
        {{else}}
            {{#get "posts" limit = 1 include="tags,authors" order="published_at desc" filter="featured:true"}}
                {{#if posts.length}}
                    {{#foreach posts}}
                        {{>post-cards/fs-post-card}}
                    {{/foreach}}
                {{else}}
                    {{#get "posts" limit = 1 include="tags,authors" order="published_at desc"}}
                        {{#foreach posts}}
                            {{>post-cards/fs-post-card}}
                        {{/foreach}}
                    {{/get}}
                {{/if}}
            {{/get}}
        {{/if}}
        {{#if @site.members_enabled}}
            {{#if count}}
                <div class="fs-section-tier-container membership-page">
                    {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
                        {{#foreach tiers}}
                            {{#match name "=" ../../count}}
                                {{>tier-card}}
                                <div class="membership-page__toggle-wrapper">
                                    <button class="membership-page__toggle-btn membership-page__toggle-btn--monthly" aria-label="{{t "Change to monthly button"}}">{{t "Monthly"}}</button>
                                    <button class="membership-page__toggle" aria-label="{{t "Monthly or yearly toggle button"}}"></button>
                                    <button class="membership-page__toggle-btn membership-page__toggle-btn--yearly" aria-label="{{t "Change to yearly button"}}">{{t "Yearly"}}</button>
                                </div>
                            {{/match}}
                        {{/foreach}}
                    {{/get}}
                 </div>
            {{else}}
                <div class="fs-section-tier-container membership-page">
                    {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
                        {{#foreach tiers}}
                            {{#if @last}}
                                {{>tier-card}}
                            {{/if}}
                        {{/foreach}}
                    {{/get}}
                    <div class="membership-page__toggle-wrapper">
                        <button class="membership-page__toggle-btn membership-page__toggle-btn--monthly" aria-label="{{t "Change to monthly button"}}">{{t "Monthly"}}</button>
                        <button class="membership-page__toggle" aria-label="{{t "Monthly or yearly toggle button"}}"></button>
                        <button class="membership-page__toggle-btn membership-page__toggle-btn--yearly" aria-label="{{t "Change to yearly button"}}">{{t "Yearly"}}</button>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
</section>
