<section class="fs-section-with-author">
    <div class="wrapper fs-section-with-author__wrapper">
        <div class="fs-section-with-author__author-info">
            {{#if tag}}
            <h1 class="fs-section-with-author__title">{{tag}}</h1>
            {{/if}}
            {{#if count}}
            <p class="fs-section-with-author__excerpt">{{count}}</p>
            {{/if}}
            {{#if @site.members_enabled}}
                {{#if @site.portal_button}}
                    <a class="fs-section-with-author__btn" href="{{#if @member}}#/portal/account/plans{{else}}#/portal/signup{{/if}}" aria-label="{{t "Upgrade your account"}}">
                        <div class="fs-section-with-author__btn-text-wrapper">
                            {{>icons/community-icon}}
                            <div class="fs-section-with-author__btn-text">
                                <span>{{t "Exclusive Community"}}</span>
                                <span>{{t "Get Access to Private Content"}}</span>
                            </div>
                        </div>
                        <div class="fs-section-with-author__btn-box">
                            <span class="fs-section-with-author__btn-box-text-wrapper">
                                <span class="fs-section-with-author__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                                <span class="fs-section-with-author__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                            </span>
                        </div>
                    </a>
                {{else}}
                    <a class="fs-section-with-author__btn" href="/membership" aria-label="{{t "Upgrade your account"}}">
                        <div class="fs-section-with-author__btn-text-wrapper">
                            {{>icons/community-icon}}
                            <div class="fs-section-with-author__btn-text">
                                <span>{{t "Exclusive Community"}}</span>
                                <span>{{t "Get Access to Private Content"}}</span>
                            </div>
                        </div>
                        <div class="fs-section-with-author__btn-box">
                            <span class="fs-section-with-author__btn-box-text-wrapper">
                                <span class="fs-section-with-author__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                                <span class="fs-section-with-author__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                            </span>
                        </div>
                    </a>
                {{/if}}
            {{/if}}
        </div>

        {{#get "authors" limit="1"}}
        {{#if authors}}
            {{#foreach authors}}
                <div class="fs-section-with-author__subsctract">
                    <div class="fs-section-with-author__subsctract-wrapper">
                        {{>icons/substract-v2-icon}}
                        {{#if cover_image}}
                        <picture class="fs-section-with-author__img-wrapper">
                            <source srcset="{{img_url cover_image size="300" format="webp" }} 300w, 
                            {{img_url cover_image size="400" format="webp" }} 400w, 
                            {{img_url cover_image size="720" format="webp" }} 720w,
                            {{img_url cover_image size="960" format="webp" }} 960w,
                            {{img_url cover_image size="1200" format="webp" }} 1200w,
                            {{img_url cover_image size="1600" format="webp" }} 1600w"
                                sizes="(max-width: 550px) 82vw, (max-width: 1100px) 45vw, 35vw" type="image/webp">
                            <img class="fs-section-with-author__img js-parallax" 
                            srcset="{{img_url cover_image size="300" }} 300w, 
                            {{img_url cover_image size="400" }} 400w, 
                            {{img_url cover_image size="720" }} 720w,
                            {{img_url cover_image size="960" }} 960w,
                            {{img_url cover_image size="1200" }} 1200w,
                            {{img_url cover_image size="1600" }} 1600w"
                                sizes="(max-width: 550px) 82vw, (max-width: 1100px) 45vw, 35vw" src="{{img_url cover_image size="1600"}}"
                                alt="{{name}} {{t "Profile image"}}"/>
                        </picture>
                        {{else}}
                        <div class="fs-section-with-author__no-img">
                        </div>
                        {{/if}}
                    </div>
                </div>
            {{/foreach}}
        {{/if}}
    {{/get}}
    </div>
</section>