{{#if @site.members_enabled}}
    {{#unless @member}}
    <section class="section-subscribe-banner{{class}}">
        <div class="wrapper subscribe-banner-wrapper {{^if @site.cover_image}}subscribe-banner-wrapper--no-img{{/if}}">
            {{#if @site.cover_image}}
            <picture class="subscribe-banner-img">
                <source srcset="{{img_url @site.cover_image size="1600" format="webp" }} 1600w, {{img_url @site.cover_image
                    size="1200" format="webp" }} 1200w, {{img_url @site.cover_image size="960" format="webp" }} 960w, {{img_url
                    @site.cover_image size="720" format="webp" }} 720w, {{img_url @site.cover_image size="400" format="webp" }}
                    400w" sizes="(max-width: 750px) 92vw, (max-width: 1479px) 48vw, 700px" type="image/webp">
                <img srcset="{{img_url @site.cover_image size="1600"}} 1600w, {{img_url @site.cover_image size="1200" }} 1200w,
                    {{img_url @site.cover_image size="960" }} 960w, {{img_url @site.cover_image size="720" }} 720w, {{img_url
                    @site.cover_image size="400" }} 400w" sizes="(max-width: 750px) 92vw, (max-width: 1479px) 48vw, 700px"
                    src="{{img_url @site.cover_image size="1600"}}" alt="{{@site.title}} {{t "cover image"}}" loading="lazy">
            </picture>
            {{/if}}
            <form class="subscribe-banner" data-members-form="subscribe" data-members-autoredirect="false" novalidate>
                    {{#if tag}}
                        <h2 class="subscribe-banner__title">{{tag}}</h2>
                    {{else}}
                        <h2 class="subscribe-banner__title">{{t "Subscribe"}}</h2>
                    {{/if}}
                    {{#if count}}
                        <p class="subscribe-banner__text">{{count}}</p>
                    {{/if}}
                <div class="subscribe-banner__input-wrapper">
                    <input class="subscribe-banner__input" data-members-email type="email" name="email-input" id="subscribe-banner-email-input" placeholder="{{t "Enter your email"}}" aria-label="{{t "Your email address"}}" required>
                    <button class="subscribe-banner__input-btn">
                        <span class="subscribe-banner__input-btn-text">{{t "Send"}}</span>
                        <span class="subscribe-banner__input-btn-icon">{{>icons/chevron-right-icon}}</span>
                        <span class="subscribe-banner__input-btn--loader">{{>icons/loader-icon}}</span>
                    </button>
                </div>
                <p class="subscribe-banner-error" data-members-error></p>
                {{#if @site.portal_signup_terms_html}}
                {{^if @site.portal_signup_checkbox_required}}
                <div class="subscribe-banner-terms">{{{@site.portal_signup_terms_html}}}</div>
                {{/if}}
                {{/if}}
                <div class="subscribe-banner-success">
                    <div class="subscribe-banner-success__wrapper">
                        {{>icons/subscribe-success-icon}}
                        <p class="subscribe-banner-success__title">
                            {{t "Success! Now Check Your Email"}}
                        </p>
                    </div>
                    <p class="subscribe-banner-success__text">
                        {{t "To complete Subscribe, click the confirmation link in your inbox. If
                        it doesn’t arrive within 3 minutes, check your spam folder."}}
                    </p>
                </div>
            </form>
        </div>
    </section>
    {{/unless}}
{{/if}}  