<section class="section-with-cover-image{{^if @site.cover_image}} section-with-cover-image--no-cover-img{{/if}}">
    {{#if @site.cover_image}}
        <picture class="section-with-cover-image__img-wrapper">
            <source srcset="{{img_url @site.cover_image size="3600" format="webp" }} 3600w, {{img_url @site.cover_image
                size="2800" format="webp" }} 2800w, {{img_url @site.cover_image size="2400" format="webp" }} 2400w, {{img_url
                @site.cover_image size="2000" format="webp" }} 2000w, {{img_url @site.cover_image size="1600" format="webp" }}
                1600w, {{img_url @site.cover_image size="1200" format="webp" }} 1200w, {{img_url @site.cover_image size="960"
                format="webp" }} 960w, {{img_url @site.cover_image size="720" format="webp" }} 720w, {{img_url @site.cover_image
                size="400" format="webp" }} 400w" sizes="100vw" type="image/webp">
            <img srcset="{{img_url @site.cover_image size="3600"}} 3600w, {{img_url @site.cover_image size="2800" }} 2800w,
                {{img_url @site.cover_image size="2400" }} 2400w, {{img_url @site.cover_image size="2000" }} 2000w, {{img_url
                @site.cover_image size="1600" }} 1600w, {{img_url @site.cover_image size="1200" }} 1200w, {{img_url
                @site.cover_image size="960" }} 960w, {{img_url @site.cover_image size="720" }} 720w, {{img_url
                @site.cover_image size="400" }} 400w" sizes="100vw" src="{{img_url @site.cover_image size="3600"}}"
                alt="{{@site.title}} {{t "cover image"}}" loading="lazy" class="section-with-cover-image__img">
        </picture>
    {{/if}}
    <div class="wrapper section-with-cover-image__wrapper">
        {{#if tag}}
            <h1 class="section-with-cover-image__title">{{tag}}</h1>
        {{/if}}
        <div class="section-with-cover-image__desc">
            {{#if count}}
            <p class="section-with-cover-image__excerpt">{{count}}</p>
            {{/if}}
            {{#if @site.members_enabled}}
                {{#if @site.portal_button}}
                    <a class="section-with-cover-image__btn" href="{{#if @member}}#/portal/account/plans{{else}}#/portal/signup{{/if}}" aria-label="{{t "Upgrade your account"}}">
                        <div class="section-with-cover-image__btn-text-wrapper">
                            {{>icons/community-icon}}
                            <div class="section-with-cover-image__btn-text">
                                <span>{{t "Exclusive Community"}}</span>
                                <span>{{t "Get Access to Private Content"}}</span>
                            </div>
                        </div>
                        <div class="section-with-cover-image__btn-box">
                            <span class="section-with-cover-image__btn-box-text-wrapper">
                                <span class="section-with-cover-image__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                                <span class="section-with-cover-image__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                            </span>
                        </div>
                    </a>
                {{else}}
                    <a class="section-with-cover-image__btn" href="/membership" aria-label="{{t "Upgrade your account"}}">
                        <div class="section-with-cover-image__btn-text-wrapper">
                            {{>icons/community-icon}}
                            <div class="section-with-cover-image__btn-text">
                                <span>{{t "Exclusive Community"}}</span>
                                <span>{{t "Get Access to Private Content"}}</span>
                            </div>
                        </div>
                        <div class="section-with-cover-image__btn-box">
                            <span class="section-with-cover-image__btn-box-text-wrapper">
                                <span class="section-with-cover-image__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                                <span class="section-with-cover-image__btn-box-text">
                                    {{t "Join"}}
                                    {{>icons/chevron-right-icon}}
                                </span>
                            </span>
                        </div>
                    </a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>