<section class="section-medium-small-posts{{class}}">
    <div class="wrapper medium-small-posts-section">
        {{#match tag "=" 'show-latest-posts'}}
            <h2 class="layout-title">{{t "Latest Posts"}}</h2>
            <div class="medium-small-posts-section__wrapper">
                {{#get "posts" limit = 4 include="tags,authors" order="published_at desc"}}
                    {{#foreach posts}}
                        {{#match @index "<" 2}}
                            {{>post-cards/medium-post-card}}
                        {{else}}
                            {{>post-cards/small-post-card}}
                        {{/match}}
                    {{/foreach}}
                {{/get}}
            </div>
        {{else match tag "=" 'show-featured-posts'}}
            <h2 class="layout-title">{{t "Featured Posts"}}</h2>
            <div class="medium-small-posts-section__wrapper">
                {{#get "posts" limit = 4 include="tags,authors" order="published_at desc" filter="featured:true"}}
                    {{#foreach posts}}
                        {{#match @index "<" 2}}
                            {{>post-cards/medium-post-card}}
                        {{else}}
                            {{>post-cards/small-post-card}}
                        {{/match}}
                    {{/foreach}}
                {{/get}}
            </div>
        {{else}}
            <h2 class="layout-title">
                <a class="layout-title__link" href="/tag/{{tag}}" arial-label="{{t "Link to page tag {tagName}" tagName=tag}}">
                    {{#get "tags" filter="slug:{{tag}}"}}
                        {{#foreach tags}}
                        {{name}}
                        {{/foreach}}
                    {{/get}}
                </a>
            </h2>
            <div class="medium-small-posts-section__wrapper">
                {{#get "posts" limit = 4 include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                    {{#foreach posts}}
                        {{#match @index "<" 2}}
                            {{>post-cards/medium-post-card}}
                        {{else}}
                            {{>post-cards/small-post-card}}
                        {{/match}}
                    {{/foreach}}
                {{/get}}
            </div>
        {{/match}}     
    </div>
</section>