<section class="section-medium-slider{{class}}">
    <div class="wrapper medium-slider-section{{#match tag "=" 'show-featured-posts'}} featured{{/match}}">
        {{#match tag "=" 'show-latest-posts'}}
            <div class="slider-header slider-header--medium">
                <h2 class="layout-title">{{t "Latest Posts"}}</h2>
            </div>
        {{else match tag "=" 'show-featured-posts' }}
        {{else}}
            <div class="slider-header slider-header--medium">
                <h2 class="layout-title">
                    <a class="layout-title__link" href="/tag/{{tag}}" arial-label="{{t "Link to page tag {tagName}" tagName=tag}}">
                        {{#get "tags" filter="slug:{{tag}}"}}
                            {{#foreach tags}}
                            {{name}}
                            {{/foreach}}
                        {{/get}}
                    </a>
                </h2>
            </div>
        {{/match}}  
        <div class="swiper medium-slider medium-slider--img" data-index-slider="{{sectionIndex}}">
            <div class="swiper-wrapper">
            {{#match tag "=" 'show-latest-posts'}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc"}}
                    {{#foreach posts}}
                        {{>sliders/medium-slider imgBox="true"}}  
                    {{/foreach}}
                {{/get}}
            {{else match tag "=" 'show-featured-posts' }}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="featured:true"}}
                    {{#foreach posts}}
                        {{>sliders/medium-slider imgBox="true"}}
                    {{/foreach}}
                {{/get}}
            {{else}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                    {{#foreach posts}}
                        {{>sliders/medium-slider imgBox="true"}}  
                    {{/foreach}}
                {{/get}}
            {{/match}}
            </div>
        </div>
        <div class="medium-slider-content-wrapper">
            <div class="swiper medium-slider medium-slider--content" data-index-slider="{{sectionIndex}}">
                <div class="swiper-wrapper">
                {{#match tag "=" 'show-latest-posts'}}
                    {{#get "posts" limit = count include="tags,authors" order="published_at desc"}}
                        {{#foreach posts}}
                            {{>sliders/medium-slider contentBox="true"}}
                        {{/foreach}}
                    {{/get}}
                {{else match tag "=" 'show-featured-posts' }}
                    {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="featured:true"}}
                        {{#foreach posts}}
                            {{>sliders/medium-slider contentBox="true"}}
                        {{/foreach}}
                    {{/get}}
                {{else}}
                    {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                        {{#foreach posts}}
                            {{>sliders/medium-slider contentBox="true"}}
                        {{/foreach}}
                    {{/get}}
                {{/match}}
                </div>
            </div>
            <div class="medium-slider-navigation">
                <button class="medium-slider-btn medium-prev-btn-{{sectionIndex}}">
                    {{>icons/slider-prev-icon}}
                </button>
                <button class="medium-slider-btn medium-next-btn-{{sectionIndex}}">
                    {{>icons/slider-next-icon}}
                </button>
            </div>
        </div>
    </div>
</section>