<section class="section-categories-tabs{{class}}">
    <div class="wrapper tags-section">
        <h2 class="tags-section__title">{{tag}}</h2>
        {{#if count}}
        <p class="tags-section__subtitle">{{count}}</p>
        {{/if}}
        {{#get "tags" include="count.posts" limit="all"}}
            {{#foreach tags}}
                {{#if @first}}
                    <div class="tags-section__tabs-wrapper">
                {{/if}}

                <a href="{{url}}" class="tags-section__tab" aria-label="{{name}}">
                    <span class="tags-section__tab-name {{slug}}-icon">{{name}}</span>
                    <div class="tags-section__count">
                        <span class="tags-section__count-value">{{count.posts}}</span>
                    </div>
                </a>

                {{#if @last}}
                    </div>
                {{/if}}
            {{/foreach}}
        {{/get}}
    </div>
</section>