<section class="section-slider-two-posts{{class}}">
    <div class="wrapper slider-2-posts-wrapper{{#match tag "=" 'show-featured-posts'}} featured{{/match}}">
        {{#match tag "=" 'show-latest-posts'}}
            <div class="slider-header slider-header--medium">
                <h2 class="layout-title">{{t "Latest Posts"}}</h2>
                <div class="slider-2-posts-navigation">
                    <button class="slider-2-posts-btn slider-2-posts-prev-btn-{{sectionIndex}}">
                        {{>icons/slider-prev-icon}}
                    </button>
                    <button class="slider-2-posts-btn slider-2-posts-next-btn-{{sectionIndex}}">
                        {{>icons/slider-next-icon}}
                    </button>
                </div>
            </div>
        {{else match tag "=" 'show-featured-posts' }}
            <div class="slider-header slider-header--medium">
                <h2 class="layout-title">{{t "Featured Posts"}}</h2>
                <div class="slider-2-posts-navigation">
                    <button class="slider-2-posts-btn slider-2-posts-prev-btn-{{sectionIndex}}">
                        {{>icons/slider-prev-icon}}
                    </button>
                    <button class="slider-2-posts-btn slider-2-posts-next-btn-{{sectionIndex}}">
                        {{>icons/slider-next-icon}}
                    </button>
                </div>
            </div>
        {{else}}
            <div class="slider-header slider-header--medium">
                <h2 class="layout-title">
                    <a class="layout-title__link" href="/tag/{{tag}}" arial-label="{{t "Link to page tag {tagName}" tagName=tag}}">
                        {{#get "tags" filter="slug:{{tag}}"}}
                            {{#foreach tags}}
                            {{name}}
                            {{/foreach}}
                        {{/get}}
                    </a>
                </h2>
                <div class="slider-2-posts-navigation">
                    <button class="slider-2-posts-btn slider-2-posts-prev-btn-{{sectionIndex}}">
                        {{>icons/slider-prev-icon}}
                    </button>
                    <button class="slider-2-posts-btn slider-2-posts-next-btn-{{sectionIndex}}">
                        {{>icons/slider-next-icon}}
                    </button>
                </div>
            </div>
        {{/match}}  
        <div class="swiper slider-2-posts" data-index-slider="{{sectionIndex}}">
            <div class="swiper-wrapper">
            {{#match tag "=" 'show-latest-posts'}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc"}}
                    {{#foreach posts}}
                        {{>sliders/slider-2-post}}  
                    {{/foreach}}
                {{/get}}
            {{else match tag "=" 'show-featured-posts' }}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="featured:true"}}
                    {{#foreach posts}}
                        {{>sliders/slider-2-post}}
                    {{/foreach}}
                {{/get}}
            {{else}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                    {{#foreach posts}}
                        {{>sliders/slider-2-post}}  
                    {{/foreach}}
                {{/get}}
            {{/match}}
            </div>
        </div>
    </div>
</section>