<section class="fullscreen-slider-section">
    <div class="swiper fullscreen-slider" data-index-slider="{{sectionIndex}}">
        <div class="swiper-wrapper">
        {{#match tag "=" 'show-latest-posts'}}
            {{#match count "<=" 5}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc"}}
                    {{#foreach posts}}
                        {{>post-cards/post-card postType="Fullscreen slider" fullScreenSlide="true" showExcerpt="true" className=" swiper-slide post-card--fullscreen-slide parallax-bg" slide="true" index=@index}}
                    {{/foreach}}
                {{/get}}
            {{else}}
                {{#get "posts" limit = "5" include="tags,authors" order="published_at desc"}}
                    {{#foreach posts}}
                            {{>post-cards/post-card postType="Fullscreen slider" fullScreenSlide="true" showExcerpt="true" className=" swiper-slide post-card--fullscreen-slide parallax-bg" slide="true" index=@index}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{else match tag "=" 'show-featured-posts' }}
            {{#match count "<=" 5}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="featured:true"}}
                    {{#foreach posts}}
                            {{>post-cards/post-card postType="Fullscreen slider" fullScreenSlide="true" showExcerpt="true" className=" swiper-slide post-card--fullscreen-slide parallax-bg" slide="true" index=@index}}
                    {{/foreach}}
                {{/get}}
            {{else}}
                {{#get "posts" limit = "5" include="tags,authors" order="published_at desc" filter="featured:true"}}
                    {{#foreach posts}}
                            {{>post-cards/post-card postType="Fullscreen slider" fullScreenSlide="true" showExcerpt="true" className=" swiper-slide post-card--fullscreen-slide parallax-bg" slide="true" index=@index}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{else}}
            {{#match count "<=" 5}}
                {{#get "posts" limit = count include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                    {{#foreach posts}}
                            {{>post-cards/post-card postType="Fullscreen slider" fullScreenSlide="true" showExcerpt="true" className=" swiper-slide post-card--fullscreen-slide parallax-bg" slide="true" index=@index}}
                    {{/foreach}}
                {{/get}}
            {{else}}
                {{#get "posts" limit = "5" include="tags,authors" order="published_at desc" filter="primary_tag:{{tag}}"}}
                    {{#foreach posts}}
                            {{>post-cards/post-card postType="Fullscreen slider" fullScreenSlide="true" showExcerpt="true" className=" swiper-slide post-card--fullscreen-slide parallax-bg" slide="true" index=@index}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{/match}}
        </div>
        <button class="fullscreen-prev-btn fullscreen-prev-btn-{{sectionIndex}}">
            {{>icons/slider-prev-icon}}
        </button>
        <button class="fullscreen-next-btn fullscreen-next-btn-{{sectionIndex}}">
            {{>icons/slider-next-icon}}
        </button>
        <div class="fullscreen-slider-pagination"></div>
    </div>
</section>