<section class="section-with-author section-{{sectionIndex}}{{class}}">
    {{#get "authors" limit="1"}}
        {{#if authors}}
            {{#foreach authors}}
            <div class="section-with-author__name-wrapper">
                
                {{#if ../../tag}}
                    <h1 class="section-with-author__first-name">{{../../tag}}</h1>
                {{/if}}

                <div class="section-with-author__img-wrapper-link">
                    {{>icons/substract-icon}}
                    {{#if profile_image}}
                    <picture class="section-with-author__img-wrapper">
                        <source srcset="{{img_url profile_image size="300" format="webp" }} 300w, 
                        {{img_url profile_image size="400" format="webp" }} 400w, 
                        {{img_url profile_image size="720" format="webp" }} 720w,
                        {{img_url profile_image size="960" format="webp" }} 960w"
                            sizes="(max-width: 1100px) 340px, 21vw" type="image/webp">
                        <img class="section-with-author__img js-parallax" 
                        srcset="{{img_url profile_image size="300" }} 300w, 
                        {{img_url profile_image size="400" }} 400w, 
                        {{img_url profile_image size="720" }} 720w,
                        {{img_url profile_image size="960" }} 960w"
                            sizes="(max-width: 1100px) 340px, 21vw" src="{{img_url profile_image size="960"}}"
                            alt="{{name}} {{t "Profile image"}}"/>
                    </picture>
                    {{else}}
                    <div class="section-with-author__no-img">
                    </div>
                    {{/if}}
                </div>

                {{#if ../../count}}
                    <p class="section-with-author__surname">{{../../count}}</p>
                {{/if}}
            </div>

            {{#if bio}}
                <p class="section-with-author__bio">
                    {{bio}}
                </p>
            {{/if}}
            {{/foreach}}
        {{/if}}
    {{/get}}
    <div class="section-with-author__btns-wrapper">
        <a class="section-with-author__btn section-with-author__btn--colored-bg" href="{{#if @site.portal_button}}{{#if @member}}#/portal/account/plans{{else}}#/portal/signup{{/if}}{{else}}/membership{{/if}}" aria-label="{{t "Join the community"}}">
            <span class="section-with-author__btn-text-wrapper">
                <span class="section-with-author__btn-text">
                    {{t "Join Community"}}
                    {{>icons/arrow-right-icon}}
                </span>
                <span class="section-with-author__btn-text">
                    {{t "Join Community"}}
                    {{>icons/arrow-right-icon}}
                </span>
            </span>
        </a>
        {{^if @member}}
            <a class="section-with-author__btn section-with-author__btn--default" href="{{#if @site.portal_button}}#/portal/signup/free{{else}}/subscribe{{/if}}" aria-label="{{t "Free Newsletter"}}">
                <span class="section-with-author__btn-text-wrapper">
                    <span class="section-with-author__btn-text">
                        {{t "Free Newsletter"}}
                    </span>
                    <span class="section-with-author__btn-text">
                        {{t "Free Newsletter"}}
                    </span>
                </span>
            </a>
        {{/if}}
    </div>
</section>