{{#if @site.members_enabled}}
{{#if is_free_tier}}
{{^if @member}}
{{#get "tiers" filter="visibility:public+type:free" include="beneficios" as |tier_free|}}
{{#if tier_free}}
<div class="subscribe-section g-grid-template g-parent-full g-child-site{{#match @custom.color_scheme_for_subscription_widgets "Light"}} is-light{{else match @custom.color_scheme_for_subscription_widgets "Dark"}} is-dark{{/match}}{{#if @site.cover_image}} is-cover{{/if}}" {{>images/site_cover_img}}>
	<div class="subscribe-wrap g-grid">
		{{#foreach tiers}}
		<div class="subscribe-content{{#if @site.cover_image}} is-img{{/if}}">
			<h3 class="g-font-l" >{{#if description}}{{description}}{{else}}{{{t "Join {style-start}{site-title}{style-end} members. Register for free, and upgrade when you love it." style-start="<span>" style-end="</span>" site-title=@site.title}}}{{/if}}</h3>
			{{#if benefits}}
			<ul class="g-benefits is-free">
				{{#foreach benefits as |benefit|}}
				<li class="g-font-xxs">{{benefit}}</li>
				{{/foreach}}
			</ul>
			{{/if}}
		</div>
		<div>
			<a {{>members/links is_signup=true}} class="subscribe-btn g-btn">{{t "Join"}}</a>
			<small class="g-font-xxxxs">{{t "No credit card required"}}</small>
		</div>
		{{/foreach}}
	</div>
</div>
{{/if}}
{{/get}}
{{/if}}
{{/if}}
{{#if is_button}}
<div class="subscribe-section g-grid-template g-parent-full g-child-site{{#match @custom.color_scheme_for_subscription_widgets "Light"}} is-light{{else match @custom.color_scheme_for_subscription_widgets "Dark"}} is-dark{{/match}}{{#if @site.cover_image}} is-cover{{/if}}" {{>images/site_cover_img}}>
	<div class="subscribe-wrap g-grid">
		<div class="subscribe-content{{#if @site.cover_image}} is-img{{/if}}">
			<small class="g-label g-font-s">{{t "Afiliación"}}</small>
			<h3 class="g-font-l">{{{t "Desbloquea el acceso completo a {style-start}{site-title}{style-end} y accede toda la biblioteca de {style-start}Miembros exclusivos{style-end} " style-start="<span>" style-end="</span>" site-title=@site.title}}}</h3>
		</div>
		<div>
			<a {{>members/links is_plans=true}} class="subscribe-btn g-btn">{{t "Ver los planes"}}</a>
			<small class="g-font-xxxxs">{{t "¡Pssst! Sin sorpresas, cancela cuando quieras"}}</small>
		</div>
	</div>
</div>
{{/if}}
{{#if is_form}}
{{^if @member}}
<div class="subscribe-section g-grid-template g-parent-full g-child-site{{#match @custom.color_scheme_for_subscription_widgets "Light"}} is-light{{else match @custom.color_scheme_for_subscription_widgets "Dark"}} is-dark{{/match}}{{#if @site.cover_image}} is-cover{{/if}}" {{>images/site_cover_img}}>
	<form data-members-form="subscribe" data-members-autoredirect="false" class="subscribe-wrap g-grid">
		<div class="subscribe-content">
			<small class="g-label g-font-s">{{t "Newsletter"}}</small>
			<input data-members-email type="email" placeholder="{{t "Enter your email address"}}" aria-label="{{t "Enter your email address"}}" class="g-font-l" required>
		</div>
		<div>
			<button type="submit" class="subscribe-btn g-btn">{{t "Subscribe"}}</button>
			{{#if @site.portal_signup_terms_html}}
			<div class="subscribe-terms g-terms{{#if @site.cover_image}} is-img{{/if}}">
				{{#if @site.portal_signup_checkbox_required}}
				<input type="checkbox" required>
				{{/if}}
				<div class="g-font-xxxxs">{{{@site.portal_signup_terms_html}}}</div>
			</div>
			{{/if}}
		</div>
	</form>
	<div class="subscribe-alert">
		<span class="alert-loading g-alert g-font-xxxxs">{{t "Procesando su solicitud..."}}</span>
		<span class="alert-success g-alert g-font-xxxxs">{{t "Por favor revise su bandeja de entrada y haga clic en el enlace para confirmar su suscripción.."}}</span>
		<span class="alert-error g-alert g-font-xxxxs">{{t "Hubo un error al enviar el correo electrónico"}}</span>
	</div>
</div>
{{/if}}
{{/if}}
{{/if}}
