<div class="loop-section">
	{{#if is_archive}}
	<div class="g-label g-grid">
		<small class="g-font-s">{{plural pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}} {{prefix}} {{#if suffix}}<span class="{{suffix}}">{{/if}}{{label}}</span></small>
		{{#if is_author}}
		{{#get "posts" limit="1" filter="authors:{{label}}" order="published_at asc"}}
		<small class="is-author g-font-s">{{#foreach posts}}{{t "Author since"}}{{#if @first}} {{date published_at format="YYYY"}}{{/if}}{{/foreach}}</small>
		{{/get}}
		{{else}}
		{{#get "tags" limit="3" filter="visibility:public+name:-{{label}}" include="count.posts" order="count.posts desc" as |tags|}}
		{{#if tags}}
		<small class="is-tags g-font-s">{{t "See another:"}} {{#foreach tags}}{{#if count.posts}}<a href="{{url}}" class="suffix-tag">{{name}}</a>{{/if}}{{^if @last}}, {{/if}}{{/foreach}}</small>
		{{/if}}
		{{/get}}
		{{/if}}
	</div>
	{{else}}
	<small class="loop-heading g-font-xl">{{{t "{style-start}What’s new?{style-end}" style-start="<span>" style-end="</span>"}}}</small>
	{{/if}}
	<div class="loop-wrap is-feed{{#match @custom.feed_layout "Grid"}} g-grid is-grid{{else}} is-list{{/match}}">
		{{#foreach posts}}
		{{#match @custom.feed_layout "List (Large images)"}}
		{{>item is_list=true is_excerpt=true is_large_img=true}}
		{{else match @custom.feed_layout "List (Small images)"}}
		{{>item is_list=true is_excerpt=true is_small_img=true}}
		{{else match @custom.feed_layout "Grid"}}
		{{>item is_grid=true is_excerpt_first=true}}
		{{else}}
		{{>item is_list=true is_excerpt=true}}
		{{/match}}
		{{/foreach}}
	</div>
</div>