{{#if isSecondary}}
    {{#if is_column}}
        {{#foreach navigation}}
            {{#if @first}}
                {{^match url "###"}}
                    <li class="footer-item"><h3 class="g-font-m">{{t "Links"}}</h3>
                    <ul>
                {{/match}}
            {{/if}}
            {{#match url "###"}}
                {{^if @first}}</ul></li>{{/if}}
                <li class="footer-item"><h3 class="g-font-m">{{label}}</h3>
                <ul>
            {{else match label "Instagram"}}
            {{else match label "YouTube"}}
            {{else match label "LinkedIn"}}
            {{else match label "Snapchat"}}
            {{else match label "Pinterest"}}
            {{else match label "Tumblr"}}
            {{else match label "TikTok"}}
            {{else match label "Reddit"}}
            {{else match label "Weibo"}}
            {{else match label "Threads"}}
            {{else match label "Discord"}}
            {{else match label "Mastodon"}}
            {{else}}
                    <li class="g-font-xxs"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/match}}
        {{/foreach}}
        </ul></li>
    {{else if is_social}}
        {{#foreach navigation}}
            {{#match label "Discord"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Discord">{{>icons/social/discord}}</a></li>
            {{else match label "Instagram"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Instagram">{{>icons/social/instagram}}</a></li>
            {{else match label "Mastodon"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Mastodon">{{>icons/social/mastodon}}</a></li>
            {{else match label "LinkedIn"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link LinkedIn">{{>icons/social/linkedin}}</a></li>
            {{else match label "Pinterest"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Pinterest">{{>icons/social/pinterest}}</a></li>
            {{else match label "Reddit"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Reddit">{{>icons/social/reddit}}</a></li>
            {{else match label "Snapchat"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Snapchat">{{>icons/social/snapchat}}</a></li>
            {{else match label "TikTok"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link TikTok">{{>icons/social/tiktok}}</a></li>
            {{else match label "Threads"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Threads">{{>icons/social/threads}}</a></li>
            {{else match label "Tumblr"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link Tumblr">{{>icons/social/tumblr}}</a></li>
            {{else match label "Weibo"}}
                <li><a href="{{url}}" target="_blank" rel="noopener" aria-label="link Weibo">{{>icons/social/weibo}}</a>
                </li>
            {{else match label "YouTube"}}
                <li><a href="{{url}}" target="_blank" rel="noopener"
                       aria-label="link YouTube">{{>icons/social/youtube}}</a></li>
            {{/match}}
        {{/foreach}}
    {{/if}}
{{else}}
    <ul>
        {{#foreach navigation}}
            {{#match url "###"}}
                {{^if @last}}
                <li class="header-dropdown">
                    <span>{{>icons/site/dots}}</span>
                <ul>
                    {{#contentFor "header_nav"}}
                    </ul>
                    </li>
                    {{/contentFor}}
                {{/if}}
            {{else}}
                <li class="g-font-xxs"><a href="{{url absolute="true"}}"{{#if current}}
                                          class="is-active"{{/if}}>{{label}}</a></li>
            {{/match}}
        {{/foreach}}
        {{{block "header_nav"}}}
        {{#match @custom.header_layout "Logo (left) + Search + Login panel"}}
            {{>search is_desktop_icon=true}}
        {{else match @custom.header_layout "Logo (right) + Search"}}
            {{>search is_desktop_icon=true}}
        {{/match}}
    </ul>
    {{^match @custom.header_layout "Logo (right)"}}
        {{^match @custom.header_layout "Logo (right) + Search"}}
            <ul>{{>members/login_panel}}</ul>
        {{/match}}
    {{/match}}
{{/if}}
