{{#if next}}
<div class="pagination-section g-grid-template g-parent-full g-child-regular">
	<a href="{{page_url next}}" aria-label="{{t "Carga más"}}" aria-hidden="true"></a>
	<button class="g-btn{{^is "paged"}} is-counter{{/is}}">{{t "Carga más"}}</button>
</div>
{{#contentFor "script_js"}}
<script>
!function(){"use strict";const a='{{t "Todavía queda 1 publicación"}}',b='{{t "Todavía quedan % de publicaciones"}}',c={{pagination.total}},d={{@config.posts_per_page}};const n=document.querySelector(".pagination-section"),e=document.querySelector(".pagination-section .g-btn.is-counter");if(e){let r=c-d,o=0;1==r&&(e.innerHTML=a),1<r&&(e.innerHTML=b.replace("%",r)),e.onclick=function(){var n=d+ ++o*d,r=c-n;setTimeout(function(){1==r&&(e.innerHTML=a),1<r&&(e.innerHTML=b.replace("%",r))},700)}}}();
</script>
{{/contentFor}}
{{/if}}