{{#match @site.recommendations_enabled}}
{{#if recommendations}}
{{#foreach recommendations to="1" as |rec|}}
<small class="g-label g-font-s">{{t "Latest recommendation"}}</small>
<div class="archive-section g-grid-template g-bg get-contrast g-parent-full g-child-site is-top is-recommendations">
	<div class="g-content">
		<a href="{{rec.url}}" data-recommendation="{{rec.id}}" target="_blank" rel="noopener" class="g-img-inline g-font-xl">{{#if rec.favicon}}<img src="{{rec.favicon}}" alt="{{rec.title}}" loading="lazy">{{/if}}<span>{{readable_url rec.url}}</span></a>
		{{#if rec.description}}
		<p class="g-font-m">{{rec.description}}</p>
		{{/if}}
	</div>
</div>
{{/foreach}}
{{#match recommendations.length ">" 1}}
<div class="archive-section g-content g-grid-template g-parent-full g-child-site is-bottom is-recommendations">
	<small class="g-label g-font-s">{{t "Other site recommendations"}}</small>
	<div class="g-content g-grid">
		{{#foreach recommendations from="2" as |rec|}}
		<div>
			<a href="{{rec.url}}" data-recommendation="{{rec.id}}" target="_blank" rel="noopener" class="g-img-inline g-font-l">{{#if rec.favicon}}<img src="{{rec.favicon}}" alt="{{rec.title}}" loading="lazy">{{/if}}{{readable_url rec.url}}</a>
			{{#if rec.description}}
			<p class="g-font-xxs">{{rec.description}}</p>
			{{/if}}
		</div>
		{{/foreach}}
	</div>
</div>
{{/match}}
{{/if}}
{{/match}}