<article class="post-card-with-date{{className}}" role="article">
    <div class="post-card-with-date__date-wrapper">
        <time datetime="{{date format='YYYY-MM-DD'}}" class="post-card-with-date__day">{{date format="D"}}</time>
          <time datetime="{{date format='YYYY-MM-DD'}}" class="post-card-with-date__month-year">{{date format="MMM, YYYY"}}</time>
    </div>

    <div class="post-card-with-date__content">
        {{#if tags}}
            {{>post-tags showOnlyPrimaryTag='true'}}
        {{else if featured}}
            {{>post-tags showOnlyPrimaryTag='true'}}
        {{else}}
            {{^match visibility "=" 'public'}}
                {{>post-tags showOnlyPrimaryTag='true'}}
            {{/match}}
        {{/if}}
        <h3 class="post-card-with-date__heading">
            <a class="post-card-with-date__heading-link" aria-label="{{t "Post title link"}}" href="{{url}}">{{title}}</a>
        </h3>
        {{#if custom_excerpt}}
            <p class="post-card-with-date__excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{>post-meta}}
    </div>
</article>