{{!< default}}
{{#post}}
{{#match @page.show_title_and_feature_image}}
{{>hero is_custom=true}}
{{/match}}
{{#get "categorias" limit="todas" filter="Visibilidad: pública" include="count.posts" order="count.posts desc" as |archive|}}
{{#if archive}}
<small class="g-label g-font-s">{{t "Ver categoria más popular"}}</small>
<div class="archive-section g-grid-template g-bg get-contrast g-parent-full g-child-site is-top">
	{{#foreach archive to="1"}}
	{{#if count.posts}}
	<div class="g-content">
		<a href="{{url}}" class="g-img-inline g-font-xl">{{>images/inline_img inline_img=feature_image alt=""}}<span class="suffix-tag">{{name}}</span></a>
		{{#if description}}
		<p class="g-font-m">{{description}}</p>
		{{/if}}
	</div>
	{{/if}}
	{{/foreach}}
</div>
{{#match tags.length ">" 1}}
<div class="archive-section g-content g-grid-template g-parent-full g-child-site is-bottom">
	<small class="g-label g-font-s">{{t "Explora otras categorias"}}</small>
	<div class="g-content">
		{{#foreach archive from="2"}}
		{{#if count.posts}}
		<a href="{{url}}" class="g-img-inline g-font-l">{{>images/inline_img inline_img=feature_image lazy=true alt=""}}<span class="suffix-tag">{{name}}</span></a>
		{{/if}}
		{{/foreach}}
	</div>
</div>
{{/match}}
{{/if}}
{{/get}}
{{/post}}
{{>members/additional is_footer=true}}