{{!< default-signup}}
{{#post}}
<form data-members-form="inscribirse" data-members-autoredirect="false">
	<h1 class="signup-title g-font-l">{{title}}</h1>
	{{#if @site.portal_name}}
	<input data-members-name type="text" placeholder="{{t "Tu nombre"}}" aria-label="{{t "Tu nombre"}}" required>
	{{/if}}
	<input data-members-email type="email" placeholder="{{t "Your email address"}}" aria-label="{{t "Tu correo electronico"}}" required>
	{{#if @site.portal_signup_terms_html}}
	<div class="g-terms">
		{{#if @site.portal_signup_checkbox_required}}
		<input type="checkbox" required>
		{{/if}}
		<div class="g-font-xxxxs">{{{@site.portal_signup_terms_html}}}</div>
	</div>
	{{/if}}
	<div>
		<small class="alert-loading g-alert g-font-xxxxs">{{t "Processing your application..."}}</small>
		<small class="alert-error g-alert g-font-xxxxs">{{t "There was an error sending the email"}}</small>
	</div>
	<button class="g-btn" type="submit">{{t "Continua"}}</button>
	<small class="g-question g-font-xxxxs">{{t "¿Ya tienes una cuenta?"}} <a {{>members/links is_signin=true}}>{{t "Iniciar sesion"}}</a></small>
</form>
<div class="alert-success">
	<h2 class="g-font-l">{{t "Great!"}}</h2>
	<p class="g-font-s">{{t "Por favor revise su bandeja de entrada y haga clic en el enlace para confirmar su registro.."}}</p>
	<a href="{{@site.url}}" class="g-btn">{{t "Back to homepage"}}</a>
</div>
{{/post}}