<aside class="navigation-section g-grid{{^next_post}}{{#prev_post}} is-older{{/prev_post}}{{/next_post}}">
	{{#next_post}}
	<div class="is-newer">
		<small class="g-label g-font-s">{{t "Newer post"}}</small>
		<h3 class="g-font-l"><a href="{{url}}">{{title}}</a></h3>
	</div>
	{{/next_post}}
	{{#prev_post}}
	<div class="is-older">
		<small class="g-label g-font-s">{{t "Older post"}}</small>
		<h3 class="g-font-l"><a href="{{url}}">{{title}}</a></h3>
	</div>
	{{/prev_post}}
</aside>