<div class="post-share">
	<div>
		<a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" target="_blank" rel="noopener" aria-label="Compartir en Twitter">{{>icons/social/x}}</a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener" aria-label="Compartir en Facebook">{{>icons/social/facebook}}</a>
		<a href="https://www.linkedin.com/shareArticle?mini=true&amp;title={{encode title}}&amp;url={{url absolute="true"}}" target="_blank" rel="noopener" aria-label="Compartir en Linkedin">{{>icons/social/linkedin}}</a>
		<a href="javascript:" class="is-link" data-clipboard-target="#copy-link" aria-label="Copiar link">{{>icons/site/copy}}</a>
		<small class="g-font-xxxxs">{{t "¡El enlace ha sido copiado!"}}</small>
	</div>
	<input type="text" value="{{url absolute="true"}}" id="copy-link" aria-label="Copiar entrada de enlace">
</div>