{{!-- --------- Props --------- --}}
{{!-- 1. withLogo --}}
{{!-- 2. withAuthor --}}

<header class="header big-header{{#match withAuthor "=" "true"}} withAuthor{{/match}}">
    <div class="big-header-top wrapper">
        <div class="big-header-top-container">

            {{!-- ---- BURGER BUTTON ---- --}}
            {{>header/burger-btn}}

            {{!-- ---- HEADER IDENTITY (LOGO/AUTHOR) ---- --}}
            {{#match withLogo "=" "true"}}
                {{>header/header-identity showLogo = "true"}}
            {{else match withAuthor "=" "true"}}
                {{>header/header-identity showAuthor = "true"}}
            {{/match}}

            {{!-- ---- SEARCH AND SIGN IN/ACCOUNT BUTTONS ---- --}}
            <div class="header-actions-buttons">
                <button class="action-btn search-btn" title="{{t "Search button"}}" aria-label="{{t "Search button"}}" data-ghost-search>
                    {{>icons/search-icon}}
                    <span class="search-btn__span">{{t "Search"}}</span>
                </button>
                {{#if @site.members_enabled}}
                {{#if @member}}
                <a href="{{#if @site.portal_button}}#/portal/account{{else}}/account{{/if}}" class="action-btn login-button account-button" title="{{t "Account page link"}}" aria-label="{{t "Account page link"}}">
                    {{>icons/account-icon}}
                    {{t "Account"}}
                </a>
                {{else}}
                <a href="{{#if @site.portal_button}}#/portal/signin{{else}}/signin{{/if}}" class="action-btn login-button" title="{{t "Sign in button"}}" aria-label="{{t "Sign in button"}}">{{t "Sign In"}}</a>
                {{/if}}
                {{/if}}
            </div>

        </div>
    </div>
    <div class="big-header-bottom">
        <div class="big-header-bottom-container wrapper">

            {{!-- ---- SOCIALS ICONS ---- --}}
            {{>socials}}
            
            {{!-- ---- HEADER NAVIGATION ---- --}}
            {{^match withBurger "=" "true"}}
                {{navigation position = "header"}}
            {{/match}}

            {{!-- ---- DARK MODE TOGGLE BUTTON ---- --}}
            <button class="switch-theme-btn" aria-label="{{t "Dark mode toggle button"}}">
                <span class="switch-theme-btn-icons">
                    {{>icons/sun-icon}}
                    {{>icons/moon-icon}}
                </span>
            </button>

        </div>
    </div>

    {{!-- ---- MOBILE MENU ---- --}}
    {{>header/mobile-menu}}

</header>