<aside class="header-CTA">
    <form class="header-CTA-form{{#if @site.cover_image}} with-image{{/if}}" data-members-form="subscribe" data-members-autoredirect="false" novalidate>
        {{#if @site.cover_image}}
        <picture>
            <source srcset="{{img_url @site.cover_image size="960" format="webp" }} 960w, {{img_url @site.cover_image
                size="720" format="webp" }} 720w, {{img_url @site.cover_image size="400" format="webp" }} 400w"
                sizes="(max-width: 550px) 100vw, 450px" type="image/webp">
            <img class="header-CTA-form__cover-img" srcset="{{img_url @site.cover_image size="960"}} 960w, {{img_url
                @site.cover_image size="720" }} 720w, {{img_url @site.cover_image size="400" }} 400w"
                sizes="(max-width: 550px) 100vw, 450px" src="{{img_url @site.cover_image size="960"}}"
                alt="{{@site.title}} {{t "cover image"}}" loading="lazy">
        </picture>
        {{/if}}
        <div class="header-CTA-form__content-wrapper">
            <h2 class="header-CTA-form__title">
                {{#if @custom.subscribe_cta_text}}
                    {{@custom.subscribe_cta_text}}
                {{else}}
                    {{t "Subscribe"}}
                {{/if}}
            </h2>
            <div class="header-CTA-form__input-wrapper">
                <input class="header-CTA-form__input" data-members-email type="email" name="email-input" id="header-CTA-form-subscibe-email-input" placeholder="{{t "Enter your email"}}" aria-label="{{t "Your email address"}}" required>
                <button class="header-CTA-form__input-btn">
                    <span class="header-CTA-form__input-btn-text">{{t "Send"}}</span>
                    <span class="header-CTA-form__input-btn-icon">{{>icons/chevron-right-icon}}</span>
                    <span class="header-CTA-form__input-btn--loader">{{>icons/loader-icon}}</span>
                </button>
            </div>
            <p class="header-CTA-form-error" data-members-error></p>
            {{#if @site.portal_signup_terms_html}}
            {{^if @site.portal_signup_checkbox_required}}
            <div class="header-CTA-form-terms">{{{@site.portal_signup_terms_html}}}</div>
            {{/if}}
            {{/if}}
            <div class="header-CTA-form-success">
                <strong class="header-CTA-form-success__title">
                    {{t "Success! Now Check Your Email"}}
                </strong>
                <p class="header-CTA-form-success__text">
                    {{t "To complete Subscribe, click the confirmation link in your inbox. If
                    it doesn’t arrive within 3 minutes, check your spam folder."}}
                </p>
            </div>
        </div>
    </form>
    <div class="header-CTA-socials">
        {{>socials}}
    </div>
</aside>