<div class="mobile-menu-container">
    <div class="mobile-menu">
        <div class="mobile-menu-main">
            <div class="mobile-menu-navigation">
                {{navigation position = 'mobileMenu'}}
            </div>
        </div>
        {{#if @site.members_enabled}}
        <div class="mobile-menu-button-container">
            {{#if @member}}
            <a href="{{#if @site.portal_button}}#/portal/account{{else}}/account{{/if}}" class="mobile-menu-login-button" title="{{t "Account page link"}}" aria-label="{{t "Account page link"}}">
                {{t "Account"}}
            </a>
            {{else}}
            <a href="{{#if @site.portal_button}}#/portal/signin{{else}}/signin{{/if}}" class="mobile-menu-login-button" title="{{t "Sign in button"}}" aria-label="{{t "Sign in button"}}">
                {{t "Sign In"}}
            </a>
            {{/if}}
        </div>
        {{/if}}
        <div class="mobile-menu-footer">
            <div class="mobile-menu-actions">
                <div class="mobile-menu-socials">
                    {{>socials}}
                </div>
                <button class="switch-theme-btn mobileMenu" aria-label="{{t "Dark mode toggle button"}}">
                    <span class="switch-theme-btn-icons">
                        {{>icons/sun-icon}}
                        {{>icons/moon-icon}}
                    </span>
                </button>
            </div>
            {{#if @site.members_enabled}}
            {{#unless @member}}
            <div class="mobile-menu-subscibe-container">
                <form class="mobile-menu-subscibe{{#if @site.cover_image}} with-image{{/if}}" data-members-form="subscribe" data-members-autoredirect="false" novalidate>
                    {{#if @site.cover_image}}
                    <picture>
                        <source srcset="{{img_url @site.cover_image size="960" format="webp" }} 960w, {{img_url @site.cover_image
                            size="720" format="webp" }} 720w, {{img_url @site.cover_image size="400" format="webp" }} 400w"
                            sizes="(max-width: 550px) 100vw, 450px" type="image/webp">
                        <img class="mobile-menu-subscibe__cover-img" srcset="{{img_url @site.cover_image size="960"}} 960w, {{img_url
                            @site.cover_image size="720" }} 720w, {{img_url @site.cover_image size="400" }} 400w"
                            sizes="(max-width: 550px) 100vw, 450px" src="{{img_url @site.cover_image size="960"}}"
                            alt="{{@site.title}} {{t "cover image"}}" loading="lazy">
                    </picture>
                    {{/if}}
                    <div class="mobile-menu-subscibe__content-wrapper">
                        <h2 class="mobile-menu-subscibe__title">
                            {{#if @custom.subscribe_cta_text}}
                                {{@custom.subscribe_cta_text}}
                            {{else}}
                                {{t "Subscribe"}}
                            {{/if}}
                        </h2>
                        {{#if @custom.subscribe_cta_subtext}}
                        <p class="mobile-menu-subscibe__text">{{@custom.subscribe_cta_subtext}}</p>
                        {{/if}}
                        <div class="mobile-menu-subscibe__input-wrapper">
                            <input class="mobile-menu-subscibe__input" data-members-email type="email" name="email-input" id="mobile-menu-subscibe-email-input" placeholder="{{t "Enter your email"}}" aria-label="{{t "Your email address"}}" required>
                            <button class="mobile-menu-subscibe__input-btn">
                                <span class="mobile-menu-subscibe__input-btn-text">{{t "Send"}}</span>
                                <span class="mobile-menu-subscibe__input-btn-icon">{{>icons/chevron-right-icon}}</span>
                                <span class="mobile-menu-subscibe__input-btn--loader">{{>icons/loader-icon}}</span>
                            </button>
                        </div>
                        <p class="mobile-menu-subscibe-error" data-members-error></p>
                        {{#if @site.portal_signup_terms_html}}
                        {{^if @site.portal_signup_checkbox_required}}
                        <div class="mobile-menu-subscibe-terms">{{{@site.portal_signup_terms_html}}}</div>
                        {{/if}}
                        {{/if}}
                        <div class="mobile-menu-subscibe-success">
                            <div class="mobile-menu-subscibe-success__wrapper">
                                {{>icons/subscribe-success-icon}}
                                <p class="mobile-menu-subscibe-success__title">
                                    {{t "Success! Now Check Your Email"}}
                                </p>
                            </div>
                            <p class="mobile-menu-subscibe-success__text">
                                {{t "To complete Subscribe, click the confirmation link in your inbox. If
                                it doesn’t arrive within 3 minutes, check your spam folder."}}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            {{/unless}}
            {{/if}}  
        </div>
    </div>
    <div class="mobile-menu-overflow"></div>
</div>