<article class="category-card gh-card">
    <a class="category-card-link gh-card-link" href="{{primary_tag.url}}">
        {{#if primary_tag.feature_image}}
            <figure class="category-card-image">
                <img srcset="{{img_url primary_tag.feature_image size="xs" format="webp"}} 160w,
                            {{img_url primary_tag.feature_image size="s" format="webp"}} 320w,
                            {{img_url primary_tag.feature_image size="m" format="webp"}} 600w,
                            {{img_url primary_tag.feature_image size="l" format="webp"}} 960w,
                            {{img_url primary_tag.feature_image size="xl" format="webp"}} 1200w,
                            {{img_url primary_tag.feature_image size="xxl" format="webp"}} 2000w"
                     sizes="{{#if imageSizes}}{{imageSizes}}{{else}}320px{{/if}}"
                     src="{{img_url primary_tag.feature_image size="m"}}" alt="{{primary_tag.title}}"
                     {{#if lazyLoad}}loading="lazy"{{/if}}
                >
            </figure>
        {{/if}}
        <div class="gh-card-wrapper">
            <h1 class="gh-card-title is-title">{{primary_tag.name}}</h1>
            {{#if primary_tag.description}}
                <p class="gh-card-excerpt is-body">{{primary_tag.description}}</p>
            {{/if}}
            <footer class="gh-card-meta">
                {{#if @custom.show_author}}
                <span class="gh-card-author">By {{#foreach authors}}{{#if @first}}{{name}}{{else}}, {{name}}{{/if}}{{/foreach}}</span>
            {{/if}}
                {{#if @custom.show_publish_date}}
                    <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                {{/if}}
            </footer>
        </div>
    </a>
</article>
