<div class="gh-container-inner gh-inner category-section"
     x-data="{categoryTag: `{{name}}`, categoryUrl: `{{url}}`}"
     x-init="categoryTag = categoryTag[0] === '_'  ? categoryTag.slice(1) : categoryTag">
    <main :class="'gh-main category-' + categoryTag.toLowerCase()">
         <a href="{{url}}" :aria-label="'Category' + categoryTag.toLowerCase() + 'link'" class="gh-container-title category-section-title is-title title-with-arrow">
             <h4 x-text="categoryTag"></h4>
             {{> "icons/arrow"}}
         </a>
{{!--          <h2 class="gh-container-title category-section-title is-title"> --}}
{{!--              <a href={{url}} x-text="categoryTag"></a> --}}
{{!--          </h2> --}}
        <div class="gh-feed category-feed">
            {{#get "posts" filter="tag:{{slug}}+tag:[hash-book,hash-blog]" include="tags,authors" limit=@custom.category_section_book_limit}}
                {{#foreach posts}}
                    {{#has tag="#book"}}
                        {{> "category-book-card" lazyLoad=true}}
                    {{else}}
                        {{> "category-blog-card" lazyLoad=true}}
                    {{/has}}
                {{/foreach}}
            {{/get}}
        </div>
    </main>
</div>
