<aside class="index-of-contents-control-container">
    <div class="index-of-contents-control-inner">
        <button class="index-of-contents-button" @click="indexOpen = !indexOpen">
            {{> "icons/list-bullet"}}
        </button>
    </div>
</aside>
<aside class="index-of-contents-container" x-show="indexOpen" @click.outside="indexOpen = false" x-init="(() => { initIndexOfContents(); handleScroll(); })()">
    <button class="close-button" @click="indexOpen = !indexOpen">{{> "icons/close"}}</button>
    <a href="{{primaryTag.url}}" aria-label="{{primaryTag.name}} Link"><h3>{{primaryTag.name}}</h3></a>
    <div class="index-of-contents">
        <ul>
            {{#get "tags" filter="slug:~^'{{primaryTag.slug}}_'" order="published_at asc"}}
                {{#foreach tags}}
                    <li class="has-sublist" x-data="{subListOpen: true}">
                        <button @click="subListOpen = !subListOpen">
                            <span x-text="`{{name}}`.split('_').slice(1).join(' ')"></span>
                            {{> "icons/arrow-down"}}
                        </button>
                        {{#get "posts" filter="tag:{{slug}}" order="published_at asc"}}
                            <ul class="sublist" x-show="subListOpen">
                                {{#foreach posts}}
                                    {{> "index-of-contents-item"}}
                                {{/foreach}}
                            </ul>
                        {{/get}}
                    </li>
                {{else}}
                    {{#get "posts" filter="primary_tag:{{primaryTag.slug}}" order="published_at asc"}}
                        {{#foreach posts}}
                            {{> "index-of-contents-item"}}
                        {{/foreach}}
                    {{/get}}
                {{/foreach}}
            {{/get}}
        </ul>
    </div>
</aside>
